* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  html {
    font-size: 16px;
  }
  
  body {
    height: 100vh;
    background-image: url("../../../public/assets/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    background-repeat: repeat-y;
  }
  .loading{
  background-repeat: no-repeat;
  padding-top: 80px;
  }
  
  .loadingImg{
    width: 30%;
    z-index: 10;
    background-image: '../../../public/assets/splash_back.png';
    
  }
  .carouselItem{
    padding-right: 40px
} 
  .container {
    width: 100%;
    height: 60vh;
      }
 .loadBar{
  width: 100%;
  height: 100vh;
  z-index: 22;
  margin: 0 auto;
  flex: 1;
  align-items: center;
  position: absolute;
  top:0;
 align-items: center;
 }
 .gameContainer{
 width: 80%;
 height: 90vh;
 margin: 0 auto;
 margin-top:30px;
 }
 .gameHeader{
  height: 12vh;
  width: 100%;
  padding-top: 30px;
  background-image: url('../../../public/assets/homescreen/Menubar1.png');
  background-size: cover;
  padding: 30px 20px 0px 20px;
 }
 /*Top Navbar*/
.profile_Avtar{
  width: 30px;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
}
.profile_Avtar img{
  width: 30px;
  height: 30px;
  border-radius: 50px;
}
.deposti_btn{
  width: 100%;
  cursor: pointer;
  background-image: url('../../../public/assets/home/bar.png');
  margin-top: -4px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
.deposti_btn_dailyWheel{
  width: 100%;
  background-image: url('../../../public/assets/home/spin_bg.png');
  margin-top: -10px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
.deposti_btn img{
  width: 100%;
}
.btnLbl{
  color:#ffffff;
  font-size: 14px;
  padding: 6px;
  font-weight: bold;
}
.amt_chkDiv{
  width: 100%;
  cursor: pointer;
  background-image: url('../../../public/assets/home/bar.png');
  margin-top: -10px;
  height: 40px;
  background-size: cover;
  background-repeat: no-repeat;
}
.btnLblAmt{
  color:#ffffff;
  font-size: 14px;
  padding: 10px;
  font-weight: bold;
}
.arrow{
  position:absolute;
  right: 15px;
  top: 2px;
}
.redeemArrow{
  position:absolute;
  left: 15px;
  top: 2px;
}
.spinnerImg img{
  width: 100px;
   padding: 6px;
  font-weight: bold;
  margin-top: -38px;
  cursor: pointer;
}
 /*Top Navbar*/
 .gameInner{
  height: 66vh;
  width: 100%;
  margin-top: -60px;
 }
 .gameLeft{
  width: 100%;
  height: 66vh;
  background-image: url('../../../public/assets/homescreen/leftsaidimage.png');
  background-size: cover;
   background-repeat: no-repeat;
 }
 .gameMiddle{
  height: 66vh;
 margin-top: 90px;
 }
 .gameRight{
  width: 100%;
  height: 66vh;
  background-image: url('../../../public/assets/homescreen/Rightsaidimage.png');
  background-size: cover;
  background-repeat: no-repeat;
 }
 .cardGame{
  background-image: url('../../../public/assets/homescreen/frem.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
  padding:0px 20px;
 
 }
 
 .gameFooter{
  height: 12vh;
  width: 100%;
  background-image: url('../../../public/assets/homescreen/Menubar1.png');
  background-size: cover;
  margin-top: -20px;
  padding: 28px 0px 0px 0px;
 }

 .progressStyle{
  background-color: #00e0ff;
  width: 400px;
  margin: 0 auto;
 margin-bottom: -100px;
 }
.lblWhite{
  color:#ffffff;
}
  .graphics_image {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 0;
  }
  .bottom_graphics {
   /* position: absolute;*/
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 23;
    background: transparent;
    background-repeat: no-repeat;
  }
  
  .headImage {
    width: 50%;
    height: auto;
    align-self: center;
    /* margin-top: 20px; */
  }
  
  
  main {
    /* margin-top: 40px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    width: 80%;
    margin-bottom: 20px;
  }
  
  main section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: stretch;
    justify-content: stretch;
    color: white;
    width: 240px;
  }
  main section > .image {
    height: 100px;
    padding: 30px;
    background: #1b1742;
    box-sizing: content-box;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(to right bottom, #00e0ff, #e100e5);
    border-image-slice: 1;
  }
  
  main section a,
  main section button {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.2em;
    padding: 8px 16px;
    height: 30px;
    gap: 20px;
    background: #1b1742;
    box-sizing: content-box;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(to right bottom, #00e0ff, #e100e5);
    border-image-slice: 1;
  }
  
  footer {
    margin-top: auto;
    background: #182035;
    height: 80px;
    text-align: center;
    font-size: 1.8rem;
    color: white;
  }
  .userDiv{
    padding:30px 0px;
  }
  .userImageDiv{
    width: 100%;
  }
  .userImage{
    width: 30px;
}
.userTextDiv{
  width: 100%;
  color:#ffffff;
}
.userImageLogout{
  cursor: pointer;
  width: 30px;
  margin:0 auto;
}

.userImageLogoutDiv{
  width: 100%;
  color:#ffffff;
  cursor: pointer;
}
.logoName{
 font-weight: 400;
font-size: 50px;
line-height: 85px;
background: linear-gradient(180deg, #00E0FF 0%, #E100E6 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
font-family: 'Impact';
}
.userCoinImg{
  width: 40px;
  margin-top: -25px;
  margin-right: 10px;
}
.coinText{
  font-weight: 400;
  font-size: 50px;
  background: linear-gradient(102.29deg, #FFE26D 4.92%, #FFD600 20.28%, #FFE781 35.64%,
   #FFD80F 51.01%, #FFEC87 64.45%, #FDD400 79.33%, #FFE143 89.89%);
   -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
font-family: 'Impact';
}

.gameThumb{
  width: 165px;
  height: 190px;
  border: 2px solid #3DB3A2;
  margin: 10px 10px;
  text-align: center;
  padding: 0px;
}
.gameImg{
  width: 165px;
  height: 190px;
  cursor: pointer;
}